[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.1"
python-dotenv = "==1.1.0"
gunicorn = "==23.0.0"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.13"
